airflow==1.7.1.3
Akara==2.0.0a4
alembic==0.8.8
Amara==2.0.0
appnope==0.1.0
avro==1.8.1
awscli==1.11.7
Babel==1.3
backports-abc==0.4
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.6.3
botocore==1.4.64
certifi==2016.9.26
chartkick==0.4.2
cloudpickle==0.2.1
colorama==0.3.7
configparser==3.5.0
croniter==0.3.13
cycler==0.10.0
cymem==1.31.2
decorator==4.0.10
defusedxml==0.5.0
dill==0.2.5
docutils==0.12
entrypoints==0.2.2
enum34==1.1.6
Flask==0.10.1
Flask-Admin==1.4.0
Flask-Cache==0.13.1
Flask-Login==0.2.11
Flask-WTF==0.12
freemix-akara==5.0.0.post1
funcsigs==0.4
functools32==3.2.3.post2
future==0.15.2
futures==3.0.5
gunicorn==19.3.0
ingestion==33.11.10
ipykernel==4.5.0
ipython==5.1.0
ipython-genutils==0.1.0
ipywidgets==5.2.2
itsdangerous==0.24
Jinja2==2.8
jmespath==0.9.0
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==4.4.0
jupyter-console==5.0.0
jupyter-core==4.2.0
kitchen==1.2.5
kiwisolver==1.0.1
lockfile==0.12.2
lxml==3.7.3
mailcap-fix==1.0.1
Mako==1.0.6
Markdown==2.6.7
MarkupSafe==0.23
matplotlib==2.2.3
mistune==0.7.3
murmurhash==0.26.4
nbconvert==4.2.0
nbformat==4.1.0
nose==1.3.7
notebook==4.2.3
numpy==1.15.4
pandas==0.19.1
pathlib==1.0.1
pathlib2==2.1.0
pexpect==4.2.1
pickleshare==0.7.4
plac==0.9.6
preshed==0.46.4
prompt-toolkit==1.0.8
ptyprocess==0.5.1
pyasn1==0.1.9
Pygments==2.1.3
pyparsing==2.3.1
python-daemon==2.1.2
python-dateutil==2.5.3
python-editor==1.0.1
python-magic==0.4.13
pytz==2016.7
pyzmq==16.0.0
qtconsole==4.2.1
requests==2.11.1
resync==1.0.5
rsa==3.4.2
s3cmd==2.0.0
s3transfer==0.1.8
semver==2.6.0
setproctitle==1.1.10
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
spacy==1.0.1
sputnik==0.9.3
SQLAlchemy==1.1.3
subprocess32==3.5.3
TBB==0.1
terminado==0.6
testfixtures==4.13.5
thinc==5.0.8
thrift==0.9.3
tornado==4.4.2
traitlets==4.3.1
virtualenv==16.1.0
wcwidth==0.1.7
Werkzeug==0.11.11
widgetsnbextension==1.2.6
WTForms==2.1
xmltodict==0.4
zen==0.12.5
